<section id="contact">
  <div class="contact-us-outer-div">
    <div class="section-margin-top">
      <h2>Contact Us</h2>
      <p class="sub">Let’s discuss your project and grow together.</p>

      <div class="contact-details">
        <div>
          <div class="contact-item">
            <div>
              <h4>Phone</h4>
              <p>+91 9453092850</p>
            </div>
            <div>
              <img src="phone-icon.svg" alt="contact us image" class="card-icon-services">
            </div>
          </div>
        </div>

        <div>
          <div class="contact-item">
            <div>
              <h4>Email</h4>
              <p>info@devpixel.com</p>
            </div>
            <div>
              <img src="email-marketing.svg" alt="contact us image" class="card-icon-services">
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- <div>
      <img src="contact-us.svg" alt="contact us image" class="contact-image">
    </div> -->
  </div>
</section>
