<footer class="footer">
  <div class="social-links">
    <a href="https://www.linkedin.com/company/devpixel-space/" target="_blank" aria-label="LinkedIn">
      <img src="linkedin2.svg" alt="LinkedIn" class="social-icon">
    </a>

    <a href="https://www.facebook.com/share/1DkYNigdJY/" target="_blank" aria-label="Facebook">
      <img src="facebook.svg" alt="Facebook" class="social-icon">
    </a>

    <a href="https://www.instagram.com/devpixelspace?igsh=MTFsNXZ1YmJoN2Rleg==" target="_blank" aria-label="Instagram">
      <img src="instagram.svg" alt="Instagram" class="social-icon">
    </a>
  </div>


  <p class="copyright">
    © 2026 Devpixel Space. All Rights Reserved.
  </p>
</footer>
