<section id="home" class="hero">
    <div class="hero-title-image">
        <img src="logo.jpg" alt="Devpixel Space">
        <div class="hero-text">
            <h1>DevPixel Space</h1>
            <h3 class="rotating-text">
                <span class="word-wrapper">
                    <span class="word designing" id="designing-text">Designing</span>
                    <span class="word developing" id="developing-text">Developing</span>
                    <span class="word marketing" id="marketing-text">Marketing</span> 
                </span>
                <span>Every Pixel of Your Brand</span>
            </h3>
            <p>Devpixel Space is a full-stack digital agency delivering powerful digital solutions through creativity, technology, and strategy.</p>
        </div>
    </div>

  <div class="grid-hero">
    <div class="card">
        <h3>Mission</h3>
        <div class="card-icon"><img src="our-mission.svg" alt="Mission" /></div>
        <p>To empower brands with innovative digital solutions that drive growth, boost online visibility, and deliver measurable results. We help businesses build a strong digital presence through high-performance web development, SEO optimization, digital marketing, branding, and UI/UX design. Our focus is simple — create impactful digital experiences that generate leads, increase engagement, and accelerate business success in today’s competitive online world.</p>
    </div>
    <div class="card">
        <h3>Vision</h3>
        <div class="card-icon"><img src="our-vision.svg" alt="Vision" /></div>
        <p>To become a globally trusted digital partner for businesses and agencies, delivering innovative, scalable, and result-driven digital solutions. We aim to build long-term partnerships by providing high-quality web development, digital marketing, branding, and technology solutions that help brands grow beyond boundaries. Our vision is to create impactful digital experiences that drive global visibility, strengthen brand authority, and empower businesses to succeed in the ever-evolving digital landscape.</p>
    </div>
    <div class="card">
        <h3>Why Choose Us</h3>
        <div class="card-icon"><img src="our-choose-us.svg" alt="Why Choose Us" /></div>
        <p>We follow a result-driven digital strategy focused on delivering measurable growth, higher engagement, and increased conversions. Our approach is built on honest collaboration, transparent communication, and long-term partnerships. By combining modern technologies, innovative design, SEO optimization, and scalable web solutions, we help businesses stay ahead in a competitive digital market. We don’t just build websites — we create powerful digital solutions that support sustainable business growth and real success.</p>
    </div>
  </div>
</section>
